From Modules Unit 6

In [1]:
import altair as alt # equivalent to ggplot2 in R
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import palmerpenguins

In [6]:
penguins = (
    palmerpenguins.load_penguins()
    .dropna()
    .pipe(lambda df_: df_[df_['species'].isin(['Adelie', 'Gentoo'])])
)

penguins.head(15)
penguins.tail(15)

    species  island  bill_length_mm  ...  body_mass_g     sex  year
259  Gentoo  Biscoe            53.4  ...       5500.0    male  2009
260  Gentoo  Biscoe            43.3  ...       4575.0  female  2009
261  Gentoo  Biscoe            48.1  ...       5500.0    male  2009
262  Gentoo  Biscoe            50.5  ...       5000.0  female  2009
263  Gentoo  Biscoe            49.8  ...       5950.0    male  2009
264  Gentoo  Biscoe            43.5  ...       4650.0  female  2009
265  Gentoo  Biscoe            51.5  ...       5500.0    male  2009
266  Gentoo  Biscoe            46.2  ...       4375.0  female  2009
267  Gentoo  Biscoe            55.1  ...       5850.0    male  2009
269  Gentoo  Biscoe            48.8  ...       6000.0    male  2009
270  Gentoo  Biscoe            47.2  ...       4925.0  female  2009
272  Gentoo  Biscoe            46.8  ...       4850.0  female  2009
273  Gentoo  Biscoe            50.4  ...       5750.0    male  2009
274  Gentoo  Biscoe            45.2  ...       5200.0  female  2009
275  Gentoo  Biscoe            49.9  ...       5400.0    male  2009

[15 rows x 8 columns]